global
    log /dev/log    local0
    log /dev/log    local1 notice
    daemon
    maxconn 4096

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    retries 3
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms
    option  redispatch

frontend haproxy-http
    bind *:80
    bind *:60000-65000
    default_backend webservers
    stick-table type ip size 200k expire 30m
    stick on src

backend webservers
    balance source
    option forwardfor
    http-request set-header X-Forwarded-For %[src]
    option httpchk GET /index.html
    http-check expect status 200
    stick-table type ip size 200k expire 30m
    stick on src
    option persist
{% for host in groups['web'] %}
    server {{ host }} {{ hostvars[host]['ansible_host'] }}:80 check
{% endfor %}
